#registerDiv {
    margin-left: 45%;
    width: 300px;
}

#registerDiv h2 {
    vertical-align: middle;
    line-height: 50px;
}

#userName, #Email, #userPassword, #userPlainPassword{
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: #AAAAAA;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px;
}